:root {
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wdth" 100;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color: #2d3134;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

/* Лёгкое переливание блика */
@keyframes metallic-shine {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

.neon-text-pink {
  text-shadow:
    0 0 10px #ff3cac,
    0 0 20px #784ba0,
    0 0 40px #ff3cac,
    0 0 80px #784ba0;
}


@keyframes neon-pulse {
  0% {
    text-shadow:
      0 0 10px #ff3cac,
      0 0 20px #ff3cac,
      0 0 40px #ff3cac,
      0 0 80px #ff3cac,
  }
  100% {
    text-shadow:
      0 0 20px #ff3cac,
      0 0 40px #ff3cac,
      0 0 80px #ff3cac,
      0 0 160px #ff3cac;
  }
}

.neon-text-pink-animated {
  animation: neon-pulse 1.5s infinite alternate;
}

@keyframes silver-pulse {
  0% {
    text-shadow:
      0 0 5px #C0C0C0,
      0 0 10px #C0C0C0,
      0 0 20px #C0C0C0,
      0 0 40px #C0C0C0;
  }
  100% {
    text-shadow:
      0 0 10px #D9D9D9,
      0 0 20px #D9D9D9,
      0 0 40px #D9D9D9,
      0 0 80px #D9D9D9;
  }
}


@keyframes white-glow {
  0% {
    text-shadow:
      0 0 5px #FFFFFF,
      0 0 10px #FFFFFF,
      0 0 20px #FFFFFF,
      0 0 40px #FFFFFF;
  }
  100% {
    text-shadow:
      0 0 10px #FFFFFF,
      0 0 20px #FFFFFF,
      0 0 40px #FFFFFF,
      0 0 80px #FFFFFF;
  }
}

.neon-text-black {
  color: #000000; /* чёрный текст */
  animation: white-glow 2s infinite alternate;
  margin-top: 0;
  margin-bottom: 20px;
}

.neon-text-silver {
  color: #FFFFFF; /* белый текст */
  animation: silver-pulse 2s infinite alternate;
}

.time {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  /* background: url('./assets/bg.jpg') repeat-x center center; */
  background-size: contain;
  text-align: center;
  padding: 0;
  color: white;
  width: 100%;
}

.hero-image {
  width: 100%;
  max-width: 1080px;
  height: calc(100vh - 440px);
  background: url('./assets/main.jpg') no-repeat top center;
  background-size: contain;
  display: inline-block;
  transform: translateY(6.5px);
}


.button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(145deg, #8E8F90, #E6E6E6, #8E8F90);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
  color: #111111;
  font-weight: 500;
  font-size: 28px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

/* “Бегущий блик” */
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  transform: skewX(-20deg);
}


.button:hover {
  color: #111111;
}

.button:hover::after {
  animation: shine 1.2s forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.45);
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.countdown-header {
  font-size: 64px;
  font-weight: 300;
  font-family: monospace;
}

.countdown-caption {
  font-size: 14px;
  font-weight: 400;
}

.countdown-caption-item {
  display: inline-block;
  width: 80px;
  text-align: center;
  margin: 0 30px;
}

.countdown-number {
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.countdown-number:first-child, .countdown-caption-item:first-child {
  width: 120px;
}

.countdown-separator {
  display: inline-block;
  width: 60px;
  text-align: center;
}

h2 {
  font-size: 48px;
  line-height: 64px;
  margin: 40px 0 8px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 40px;
}

.scroll-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.scroll-container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  scroll-snap-align: start;
}

.bg-dark {
  /* background-color: #1F1F20; */
}

.bg-dark .title {
  color: #FFFFFF;
}

.bg-dark .text {
  color: #E6E6E6;
}



.bg-light {
  background-color: #B5B7B6;
}

.bg-light .title {
  color: #111111;
}

.bg-light .text {
  color: #2C2C2C;
}

.bg-dark-image {
  background: url(./assets/bg4.png) no-repeat center center;
  background-size: cover;
  position: relative;
}

.bg-dark-image::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-dark-image article {
  position: relative;
  z-index: 10;
}


.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation p {
  margin-bottom: 12px;
}

.location {
  text-align: center;
}

.dresscode {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dresscode-list {
  display: flex;
  margin-top: 32px;
  gap: 12px;
  padding: 12px 12px 0;
  flex-grow: 1;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.dresscode-item {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dresscode-item-header {
  display: flex;
  justify-content: center;
  background: #898987;
  border: 3px solid #b5b7b631;
  padding: 16px;
}

.dresscode-item-header-color {
  width: 100px;
  height: 100px;
  border: 1px solid #b5b7b631;
}

.dresscode-item-header-color-main {
  background: url('./assets/main-color.png') no-repeat center center;
  background-size: contain;
}

.dresscode-item-header-color-alternative {
  background: url('./assets/alternative-color.png') no-repeat center center;
  background-size: contain;
}

.dresscode-item-header-text {
  flex-grow: 1;
  padding-left: 12px;
}

.dresscode-item-header-text .title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8px;
}

.dresscode-item-header-text .text {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 20px;
}

.dresscode-item-content-light, .dresscode-item-content-dark {
  flex-grow: 1;
}

.dresscode-item-content-light {
  background: url('./assets/light-dresscode.png') no-repeat center center;
  background-size: cover;
}

.dresscode-item-content-dark {
  background: url('./assets/dark-dresscode.png') no-repeat center center;
  background-size: cover;
}

.description {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 12px;
  text-align: center;
}

.description p {
  line-height: 24px;
}

.description h2 {
  text-transform: none;
  font-size: 32px;
}


.mouse {
	width: 32px;
	height: 60px;
	border: 3px solid #E6E6E6;
	border-radius: 60px;
	position: relative;
  display: inline-block;
}

.mouse::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E6E6E6;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

.timer h2 {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .last-layout {
    transform: scale(1.5);
  }
}

@media (max-width: 719px) {
  .scroll-container {
    scroll-snap-type: none;
    height: auto;
  }

  .scroll-section {
    scroll-snap-align: none;
    height: auto;
  }
}

